<footer class="footer">
    <nav class="nav-flecha-footer">
      <a href="#" class="selected"><img src="./assets/images/ico-arrow.svg" alt="flecha indicadora arriba" class="arrow"></a>

      <div class="div-footer-list">
      <nav class="nav-footer">
        <ul class="list-footer">
          <li><a href="https://adalab.es" target="_blank" >ZAPATILLAS</a></li>
          <li><a href="https://adalab.es" target="_blank">ROPA</a></li>
          <li><a href="https://adalab.es" target="_blank">NIÑO/A</a></li>
          <li><a href="https://adalab.es" target="_blank">DESTACADOS</a></li>
          <li><a href="https://adalab.es" target="_blank">TIPS</a></li>
        </ul>
      </nav>
      
      <nav class="nav-media">
        <ul class="media">
          <li><a href="https://adalab.es" target="_blank">TWITTER</a></li>
          <li><a href="https://adalab.es" target="_blank">INSTAGRAM</a></li>
          <li><a href="https://adalab.es" target="_blank">YOUTUBE</a></li>
        </ul>
      </nav>
    </div>
      <p class="copy">&copy; 2023</p>
      <p class="we">We &#x1F9E1; run</p>
  </footer>