<footer class="footer">
    <nav class="nav-flecha-footer">
      <a href="#" class="selected"><img src="./assets/images/ico-arrow.svg" alt="flecha indicadora arriba" class="arrow" title="flecha-indicadora-arriba"></a>

    <section class="div-footer-list">
      <nav class="nav-footer">
        <ul class="list-footer">
          <li><a href="https://adalab.es" target="_blank" >Zapatillas</a></li>
          <li><a href="https://adalab.es" target="_blank">Ropa</a></li>
          <li><a href="https://adalab.es" target="_blank">Niño/a</a></li>
          <li><a href="https://adalab.es" target="_blank">Destacados</a></li>
          <li><a href="https://adalab.es" target="_blank">Tips</a></li>
        </ul>
      </nav>
      
      <nav class="nav-media">
        <ul class="media">
          <li><a href="https://adalab.es" target="_blank">Twitter</a></li>
          <li><a href="https://adalab.es" target="_blank">Instagram</a></li>
          <li><a href="https://adalab.es" target="_blank">Youtube</a></li>
        </ul>
      </nav>
    </section>

      <p class="copy">&copy; 2023</p>
      <p class="we">We &#x1F9E1; run</p>
      
  </footer>