<header class="header">
    <nav class="header-menu">
      <a class="header-link" href="https://adalab.es/" target="_blank"><img class="image-menu" src="./assets/images/ico-menu.svg" alt="icono menu" title="icono-menu"></a>
    </nav>
    <section class="hero">
      <div class="image-hero"></div>
      <div class="content-h1"><h1 class="tittle">HASTA UN 50% DE DESCUENTO</h1></div>
      <div class="content-p"><p class="p-hero">Ya están aquí las ofertas de fin de temporada</p></div>

    </section>
    <section class="arrow-section">
    <nav class="nav-arrow">
      <a href="#new-year" class="selected1"><img src="./assets/images/ico-scroll-down.svg" alt="flecha indicadora" title="flecha-indicadora"></a>
    </section>
    </nav>

  </header>