<header class="header">
    <nav class="header-menu">
      <a class="header-link" href="https://adalab.es/" target="_blank"><img class="image-menu" src="./assets/images/ico-menu.svg" alt="icono menu" title="icono-menu"></a>
    </nav>
    <section class="hero">
      <div class="image-hero"></div>
      <div class="content-h1"><h1 class="tittle">hasta un 50% de descuento</h1></div>
      <div class="content-p"><p class="p-hero">Ya están aquí las ofertas de fin de temporada</p></div>

    </section>

    <nav class="arrow-section">
      <a href="#new-year" class="selected1">
        <img src="./assets/images/ico-scroll-down.svg" alt="flecha indicadora" title="indicator_arrow" class="indicator-arrow">
      </a>
    
    </nav>

  </header>