.footer {
    width: 100%;
    height: 465px;
    color: #fff;
    background-color: var(--greyish-brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 65px;
    text-align: center;
    

    @media (min-width:768px) {
        width: 100vw;
        height: 240px;
        }

    }

.nav-flecha-footer {
    width: 100vw;
    padding: 11px 12.4px 10px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width:768px) {
        /*align-items:flex-end;*/
        margin-top: -3rem;
    }

}

.selected{
    width: 4rem;
    height: 4rem;
    margin-top: -3rem;
    border-radius: 22.5px;
    transform: rotate(-0.23deg);
    background-color: #f2f2f2;

    @media (min-width:768px) {

        margin: 0 36.5rem 2rem;
    }
}

.div-footer-list {

    @media (min-width:768px) {
        display: flex;
        flex-direction: row-reverse;
    }
    @media (min-width:1280px) {
        display: flex;
        flex-direction: row-reverse;
        margin: 0 8rem 0 0;
    }
}

.nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;

    @media (min-width:768px) {
        padding: 0 5rem 0 5rem;
        order: 0;                
    }
}

.list-footer {
    line-height: 1.88;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    @media (min-width:768px) {
        margin-left: 30rem;

    }
}

.list-footer a{
    text-decoration: none;
    color: var(--white);
    
    
}
.nav-media{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    @media (min-width:768px) {
        order: -1;
        }
}

.media{
    line-height: 1.88;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 18px 94px 30px 95px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;

    @media (min-width:768px) {
        text-align: start;
        margin: -30px 105px 30px 105px;
        }
}
.media a {
    text-decoration: none;
    color: var(--white);

}

.arrow{
    object-fit: contain;
    margin-top: 0.7rem;
}

.copy{
    width: 50%;
    margin: 32px 107px 0 106px;
    text-align: center;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 2.14;
    letter-spacing: normal;

    @media (min-width:768px){
        width: 100vw;
        margin: 59px 290px 0 0;
        position: absolute;
        font-size: 16px;
    }
    @media (min-width:1280px){
        width: 100vw;
        margin: 70px 380px 0 0;
        position: absolute;
        font-size: 16px;
    }

}
.we {
        width: 50%;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 2.14;
        color: var(--white);
        align-items: center;

        @media (min-width:768px) {
            width: 100vw;
            margin: 86px 280px 0 0;
            position: absolute;
            font-size: 16px;
        }
        @media (min-width:1280px) {
            width: 100vw;
            margin: 98px 360px 0 0;
            position: absolute;
            font-size: 16px;

        }
    
}